# Ignore __pycache__ directories
__pycache__/

# Ignore compiled bytecode files
*.pyc
*.pkl

# Ignore virtual environments
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore IDE or editor-specific files
.vscode/
.idea/
QF620_Stochastic Modelling_in_Finance/.DS_Store
QF620_Stochastic Modelling_in_Finance/.DS_Store
